{% extends 'base.html'%}
{% block content %}
    {% include 'navbar.html'%}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="collection">
             <h4>{{question.content}}</h4>
                    {% for choice in question.choice_set.all %}
                    <label>
                        <input class="with-gap" name="group1" type="radio"  />
                        <span>{{choice.content}}</span>
                      </label>
                    {% endfor %}
        </div>
        <div class="row">
            <button class="btn waves -effect waves-light" type="submit" name="action">Submit
               
              </button>
        </div>
    </div>
    </div>
{% endblock %}